@import "src/scss-utils/mixins";

.filtersContainer{
  padding: 1em 0;
  @include respond-to('large') {
    display: flex;
    justify-content: space-between;
  }
}

.searchContainer{
  @include respond-to('large') {
    width: 500px;
  }
}

.selectContainer{
  margin-top: 1.5em;
  display: flex;
  gap: 10px;
  @include respond-to('large') {
    margin-top: 0;
  }
  max-width: 400px;
}

.tileContainer{
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3em;
}

.error{
  text-align: center;
  background-color: red;
}



